/*Navbar*/
img {
    width: 5%;
}
.navbar-brand {
    width: 80%;
}
/*Quienes Somos*/
.titulo2 {
    padding: 20px;
}
#Quienes_Somos, #Destacados, #Contacto {
    background-color: black;
    color: white;
}
article {
    padding: 10px;
}
h4 {
    padding: 10px;
}
.icono {
    background-color: rgb(76, 213, 223);
}
/*Destacados*/
.card-img-top {
    width: 50%;
}
.card-body {
    background-color: rgb(76, 213, 223);
    color: rgb(255, 255, 255);
}
/*Contacto*/
button {
    background-color: rgb(76, 213, 223);
}
/*Footer*/
footer {
    background-color: rgb(76, 213, 223);
    color: white;
    padding: 20px;
}
.sociales {
    font-size: 35px;
}