/*Navbar*/
img {
    width: 5%;
}
.container-fluid {
    padding: 2%;
}
.navbar-brand {
    width: 80%;
}
.navbarNav {
    width: 50%;
}
/*Quienes Somos*/
.titulo2 {
    padding: 20px;
}
#Quienes_Somos {
    background-color: black;
    color: white;
}
article {
    padding: 10px;
}
h4 {
    padding: 10px;
}
.icono {
    background-color: rgb(76, 213, 223);
}
/*Destacados*/
#Destacados {
    background-color: black;
    color: white;
}
.info {
    color: white;
}
.card {
    color: white;
}
.card-img-top {
    width: 50%;
}
.card-body {
    background-color: rgb(76, 213, 223);
    color: rgb(255, 255, 255);
}